<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>장바구니</title>
</head>
<body>
    <div>
        <h2>장바구니 목록</h2>
        <tr th:each="cartlist : ${cartlist}">
            <td th:text ="${cartlist.quantity}"></td>
            <td th:text ="${cartlist.productName}"></td>
            <td th:text ="${cartlist.image}"></td>
            <br>
        </tr>

        <form th:action="@{/deleteItem}" method ="post">
            <button type="submit">삭제</button>
        </form>

        <a href="/product/cart/">상품 목록</a>
    </div>
</body>
</html>
//리스트 부분 체크